{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2030</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p>
                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2030</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p>
                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->



<!-- Product Section Begin -->
<section class="product spad mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="section-heading">
                    <a href="{% url 'shop' %}" class="btn btn-outline-primary float-right">See all</a>
                    <h3 class="section-title float-left">Popular products</h3>
                </header>
            </div>
        </div>
        <div class="row product__filter">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                  <div class="product__item__pic">
                    <a href="{{ product.get_url }}">
                      <img src="{{ product.images.url }}" alt="{{ product.product_name }}" style="width: 100%;max-width: 100%;height: 260px;object-fit:cover;margin-bottom: 8px;">
                    </a>
                    <ul class="product__hover">
                      <li><a href="{{ product.images.url }}"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6>{{ product.product_name }}</h6>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview  >= 0.5  and product.averageReview  < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview  >= 1.5  and product.averageReview  < 2 %}-half-o{% endif %}" aria-hidden="true"></i>                                                   
                            <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview  >= 2.5  and product.averageReview  < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview  >= 3.5  and product.averageReview  < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview  >= 4.5  and product.averageReview  < 5 %}-half-o{% endif %}" aria-hidden="true"></i>                                         
                        </span>
                    </div>
                    <a href="{{ product.get_url }}" class="add-cart">View Detail</a>
                    <h5>${{ product.price }}</h5>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}

    

